@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Titillium Web fonts */
@font-face {
  font-family: "titillium-web";
  src: url("/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "titillium-web-bolt";
  src: url("/fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Define CSS variables for light and dark themes */
:root {
  --background: #171717; /* Background color */
  --foreground: #ffffff; /* Text color */
  --font-titillium: "Titillium Web", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply the custom font, background, and text colors globally */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-titillium-web);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

/* Add custom utility class */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar */
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid-container {
  overflow-y: auto;
  flex: 1;
  padding-bottom: 1rem;
}

/* Hide scrollbar for Webkit browsers */
.grid-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.grid-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Header Sticky */
header {
  position: sticky;
  top: 0;
  z-index: 100;
}

